<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header }}
        <hr>
        <p>Usage: Please enter a valid location.</p>
        <p></p>
        <p>it could be:</p>
        <ol>
            <li>Country</li>
            <li>State</li>
            <li>City</li>
            <li>Zip Code</li>
            <li>Address</li>
        </ol>
        <br>
        <hr>
        <p class="help-usage-0">Usage: https://rueda-weather-application.herokuapp.com/weather?address=<span
                class="help-usage-1">chicago</span></p>

        <div class="help-usage-1">
            <p>Result:</p>
            <div class="help-result-0">{<br>
                <p class="help-result-1">
                    <span class="help-span"> "forecast"</span>: <span class="help-usage-0">"Partly Cloudy. It is
                        currently 42.77 degrees outside. There is a 0% chance of rain. "</span><br>
                    <span class="help-span"> "location"</span>: <span class="help-usage-0">"London, Greater London,
                        England, United Kingdom"</span><br>
                    <span class="help-span"> "address"</span>: <span class="help-usage-0">"london"</span><br>
                    <span class="help-span"> "temperature</span>": <span class="help-usage-0">42.77</span><br>
                    <span class="help-span"> "temperatureLow"</span>: <span class="help-usage-0">39.89</span><br>
                    <span class="help-span"> "temperatureHigh"</span>: <span class="help-usage-0">44.67</span><br>
                    <span class="help-span"> "precipProbability"</span>: <span class="help-usage-0">0</span><br>
                    <span class="help-span"> "humidity"</span>: <span class="help-usage-0">0.87</span><br>
                    <span class="help-span"> "windSpeed"</span>: <span class="help-usage-0">5.8</span><br>
                </p>
                } <br>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <h4>Thanks for using The Weather App</h4>
    </div>


    {{>footer}}
</body>

</html>