<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="./images/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header }}
        <hr>
        <p>Usage: Please enter a valid location.</p>
        <p></p>
        <p>it could be:</p>
        <ol>
            <li>Country</li>
            <li>State</li>
            <li>City</li>
            <li>Zip Code</li>
            <li>Address</li>
        </ol>
        <br>
        <hr>
        <p class="help-usage-0">Usage: https://rueda-weather-application.herokuapp.com/weather?address=<span
                class="help-usage-1">chicago</span></p>

        <div class="help-usage-1">
            <p>Result:</p>
            <div class="help-result-0">{<br>
                <p class="help-result-1">
                    <span class="help-span">"forecast"</span>: "Overcast. It is currently 33.96 degrees outside. There
                    is a 0.02% chance of rain",<br>
                    <span class="help-span">"location"</span>: "Chicago, Illinois, United States",<br>
                    <span class="help-span">"address"</span>: "chicago"<br>
                </p>
                } <br>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <h4>Thanks for using The Weather App</h4>
    </div>


    {{>footer}}
</body>

</html>